<!-- Shared Product Modal -->
<div class="add-to-cart-modal-wrapper" id="modal-{{ product.id }}" style="display:none;">
  <div class="modal-content">
    <button class="close-modal-btn">
      <i class="fa-solid fa-xmark"></i>
    </button>

    <div class="add-to-cart-product-wrapper">
      <img
        id="modal-image"
        src="{{ product.featured_image | img_url: '495x' }}"
        alt="{{ product.title }}"
        width="495px"
        height="495px"
        class="add-to-cart-product-image"
      >

      <div class="add-to-cart-product-information">
        <h3 class="add-to-cart-product-title">{{ product.title }}</h3>
        <h5 class="add-to-cart-product-price">{{ product.price | money }}</h5>
        <p id="add-to-cart-product-description">{{ product.description | strip_html | escape }}</p>

        <a href="{{ product.url }}" class="add-to-cart-product-link"
          >View full product details
          <i class="fa-solid fa-angle-right"></i>
        </a>

        <hr>
        <div class="add-to-cart-cta-wrapper">
          {% comment %}
            <div class="add-to-cart-qty-wrapper" data-min="1" data-max="{{ product.variants.first.inventory_quantity }}">
              <button type="button" class="qty-btn minus">-</button>
              <div class="quantity-input">1</div>
              <button type="button" class="qty-btn plus">+</button>
            </div>
          {% endcomment %}
          {% render 'product-quantity', product: product %}
          <div class="add-to-cart-btn-group">
            <button class="add-to-cart outline-btn add-to-cart-btn" data-variant-id="{{ product.variants.first.id }}">
              Add to cart
            </button>
            <a href="/checkout" class="link-button buy-now-btn">Buy it now </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
