<!-- Product Modal -->
<div class="add-to-cart-modal-wrapper" id="modal-{{ product.id }}" style="display:none;">
  <div class="modal-content">
    <button class="close-modal-btn">
      <i class="fa-solid fa-xmark"></i>
    </button>

    <div class="add-to-cart-product-wrapper">
      {% comment %}
        <img
          id="modal-image"
          src="{{ product.featured_image | image_url}}"
          alt="{{ product.title }}"
          width="495px"
          height="495px"
          class="add-to-cart-product-image"
        >
      {% endcomment %}
      {% render 'product-image-gallery', product: product %}

      <div class="add-to-cart-product-information">
        <h3 class="add-to-cart-product-title" id="add-cart-product-title">{{ product.title }}</h3>
        <h5 class="add-to-cart-product-price">{{ product.price | money }}</h5>
        <p class="add-to-cart-product-description">{{ product.description | strip_html | escape }}</p>

        <a href="{{ product.url }}" class="add-to-cart-product-link"
          >View full product details
          <i class="fa-solid fa-angle-right"></i>
        </a>

        <hr>
        <div class="add-to-cart-cta-wrapper">
          {% render 'product-quantity', product: product, appliedQty: appliedQty %}
          <div class="add-to-cart-btn-group">
            <button class="add-to-cart outline-btn add-to-cart-btn" data-variant-id="{{ product.variants.first.id }}">
              Add to cart
            </button>
            <a href="/checkout" class="link-button buy-now-btn">Buy it now </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
