{% capture productstatus %}
  {% if product.variants.first.available %}{% else %}disabled{% endif %}
{% endcapture %}

<!-- Product Modal -->
<div class="add-to-cart-modal-wrapper" id="modal-{{ product.id }}" style="display:none;">
  <div class="modal-content">
    <button class="close-modal-btn">
      <i class="fa-solid fa-xmark"></i>
    </button>

    <div class="add-to-cart-product-wrapper">
      <div class="add-to-cart-image-wrapper">
        {% render 'product-image-gallery', product: product %}
      </div>
      <div class="add-to-cart-product-information">
        {% if product.type != '' %}
          <div class="add-to-cart-product-type">{{ product.type }}</div>
        {% endif %}
        <h3 class="add-to-cart-product-title" id="add-cart-product-title">{{ product.title }}</h3>
        <div class="product-price-wrapper">
          {% if product.compare_at_price > product.price %}
            <s class="original-price">{{ product.compare_at_price | money }}</s>
          {% endif %}
          <p class="product-price discounted-price">{{ product.price | money }}</p>
        </div>
        <div class="add-to-cart-product-description-wrapper">
          <p class="add-to-cart-product-description">
            {{ product.description | strip_html | escape | truncate: 200, '...' }}
          </p>
          <a href="{{ product.url }}" class="product-read-more">View More</a>
        </div>

        <div class="stock-status-wrapper">
          {% if product.variants.first.available %}
            <p class="stock-status green">In Stock</p>
          {% else %}
            <p class="stock-status grey">Out of Stock</p>
          {% endif %}
        </div>

        <hr>
        <div class="add-to-cart-cta-wrapper">
          {% render 'product-quantity', product: product, appliedQty: appliedQty %}
          <div class="add-to-cart-btn-group">
            <button class="btn btn-outline btn-red {{ productstatus }}">
              <span class="add-to-cart-btn {{ productstatus }}" data-variant-id="{{ product.variants.first.id }}">
                Add to Cart
              </span>
            </button>
            <a href="/checkout" class="btn btn-contained btn-red buy-now-btn {{ productstatus }}">
              <span>Buy Now</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
