<!-- snippets/cart-drawer.liquid -->
<div id="cart-drawer" class="cart-drawer hidden">
  <div class="cart-header">
    <h2>Your Cart</h2>
    <button id="close-cart" aria-label="Close cart" class="cart-close">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <div class="cart-content">
    {% if cart.item_count > 0 %}
      <div class="cart-content-wrapper">
        {% for item in cart.items %}
          <div class="cart-items-wrapper">
            <img
              src="{{ item.product.images |  img_url: '150x'}}"
              width="150"
              height="150"
              alt="{{ item.product.title }}"
            >
            <div class="cart-product-information">
              <div>{{ item.product.title }}</div>
              {% render 'product-quantity', product: item, appliedQty: item.quantity %}
              <div>{{ item.line_price | money }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="cart-footer">
        <div class="cart-total-price">
          <span class="cart-total-text">Total:</span>
          <span class="cart-total-amount"> {{ cart.total_price | money }}</span>
        </div>
        <a href="/checkout" class="checkout-button link-button">Proceed To Checkout</a>
      </div>
    {% else %}
      <p>Your cart is empty</p>
    {% endif %}
  </div>
</div>
