<div class="mobile-menu-drawer-wrapper" id="mobile-menu-drawer">
  <ul class="mobile-naivgation-wrapper">
    <li class="mobile-navigation-list">
      <a href="#"> Momo Sauce </a>
      <img
        src="{{ 'right-arrow.png' | asset_url }}"
        height="22"
        width="22"
        aria-label="Account login"
      >
    </li>
    <li class="mobile-navigation-list">
      <a href="#"> Frozen Food</a
      ><img
        src="{{ 'right-arrow.png' | asset_url }}"
        height="22"
        width="22"
        aria-label="Account login"
      >
    </li>
    <li class="mobile-navigation-list">
      <a href="#"> Bundles</a
      ><img
        src="{{ 'right-arrow.png' | asset_url }}"
        height="22"
        width="22"
        aria-label="Account login"
      >
    </li>
    <li class="mobile-navigation-list">
      <a href="#">SHOP</a
      ><img
        src="{{ 'right-arrow.png' | asset_url }}"
        height="22"
        width="22"
        aria-label="Account login"
      >
    </li>
    <li class="mobile-navigation-list">
      <a href="#"> Gift Cards</a
      ><img
        src="{{ 'right-arrow.png' | asset_url }}"
        height="22"
        width="22"
        aria-label="Account login"
      >
    </li>
    <li class="mobile-navigation-list">
      <a href="#"> ABOUT US</a
      ><img
        src="{{ 'right-arrow.png' | asset_url }}"
        height="22"
        width="22"
        aria-label="Account login"
      >
    </li>
    <li class="mobile-navigation-list">
      <a href="#"> CONTACT US</a
      ><img
        src="{{ 'right-arrow.png' | asset_url }}"
        height="22"
        width="22"
        aria-label="Account login"
      >
    </li>
  </ul>

  <div class="mobile-menu-login-wrapper">
    <img
      src="{{ 'user.png' | asset_url }}"
      height="22"
      width="22"
      aria-label="Account login"
    >
    <a href="#">Login </a>
  </div>
</div>
