{% assign has_real_options = false %}
{% for option in product.options_with_values %}
  {% if option.name != 'Title' and option.values.size > 1 %}
    {% assign has_real_options = true %}
  {% endif %}
{% endfor %}

{% if has_real_options %}
  <div class="divier top-divider"></div>
  <div class="product-variation-wrapper">
    {% for option in product.options_with_values %}
      <div class="product-variation-content" data-option-index="{{ forloop.index0 }}">
        <div class="variation-title">{{ option.name }}</div>
        <div class="variations-list-wrapper">
          {% for value in option.values %}
            <div class="variations-list" data-value="{{ value }}">
              <span>{{ value }}</span>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="divier bottom-divider"></div>
{% endif %}

<script id="product-variants-data" type="application/json">
  {{ product.variants | json }}
</script>
