<div class="featured-product-inner-wrapper swiper-slide">
  <a href="{{ product.url }}" class="featured-product-image-wrapper {% if product.images.size > 1 %}has-hover{% endif %}" style="text-decoration: none;">
    {% if product.tags.size > 0 %}
      <div class="product-tag-wrapper">
        {% for tag in product.tags %}
          <span class="tag-name">{{ tag }}</span>
        {% endfor %}
      </div>
    {% endif %}

    <img
      src="{{ product.featured_image | image_url }}"
      width="280"
      height="280"
      alt="{{ product.title }}"
      class="product-image"
    >

    {% if product.images.size > 1 %}
      <img
        src="{{ product.images[1] | image_url }}"
        alt="{{ product.title }} hover image"
        width="280"
        height="280"
        class="hover-image"
      >
    {% endif %}

    {% render 'add-to-cart-modal', product: product, appliedQty: 1 %}
  </a>

  <div class="featured-product-information">
    {% if product.type != '' %}
      <div class="product-type">{{ product.type }}</div>
    {% endif %}
    <a href="{{product.url }}">
      <p class="product-title">{{ product.title }}</p>
    </a>
    <div class="card-footer">
      <div class="product-price-wrapper">
        {% if product.compare_at_price > product.price %}
          <s class="original-price">{{ product.compare_at_price | money }}</s>
        {% endif %}
        <p class="product-price discounted-price">{{ product.price | money }}</p>
      </div>
      <div class="quick-view-wrapper open-modal-btn" data-product-id="{{ product.id }}">
        <p>Quick View</p>
      </div>
    </div>
  </div>
</div>
