<div class="featured-product-inner-wrapper swiper-slide">
  <div class="featured-product-image-wrapper">
    {% if product.tags.size > 0 %}
      <div class="product-tag-wrapper">
        {% for tag in product.tags %}
          <span class="tag-name">{{ tag }}</span>
        {% endfor %}
      </div>
    {% endif %}

    <img
      src="{{ product.featured_image | image_url }}"
      width="280"
      height="280"
      alt="{{ product.title }}"
      class="product-image"
    >
    {% render 'add-to-cart-modal', product: product, appliedQty: 1 %}
  </div>

  <div class="featured-product-information">
    {% if product.type != '' %}
      <div class="product-type">{{ product.type }}</div>
    {% endif %}
    <a href="{{product.url }}">
      <p class="product-title">{{ product.title }}</p>
    </a>
    <div class="card-footer">
      <p class="product-price">{{ product.price | money }}</p>

      <div class="btn btn-sm open-modal-btn" data-product-id="{{ product.id }}">
        Add
        <img src="{{ 'add.png' | asset_url}}" alt="Add product icon" width="18" height="18">
      </div>
    </div>
  </div>
</div>
