<html>
  <head>
    {{ content_for_header }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    {{ 'main.css' | asset_url | stylesheet_tag }}

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v6.4.0/css/all.css"
      crossorigin="anonymous"
    >
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    >
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <link
      href="{{ 'BrandonGrotesque-Light.woff2' | asset_url }}"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
      preload_tag
    >
    <link
      href="{{ 'BrandonGrotesque-Medium.woff2' | asset_url }}"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
      preload_tag
    >
    <link
      href="{{ 'ScotchDisplay-Light.woff2' | asset_url }}"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
      preload_tag
    >
    <link
      href="{{ 'ScotchDisplay-Medium.woff2' | asset_url }}"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
      preload_tag
    >
  </head>

  <body id="body">
    <div class="main-overlay disable-overlay"></div>
    {% section 'promotional-banner' %}
    <div class="" id="extra-header-height"></div>
    {% section 'header' %}
    {% section 'cart-drawer' %}
    {% comment %} {% render 'wishlist-drawer' %} {% endcomment %}
    {% render 'search-drawer' %}
    {% render 'mobile-menu-drawer' %}

    <main id="main" role="main">
      {% section 'slider-banner' %}
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}

    <script src="https://cdn.jsdelivr.net/npm/toastify-js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js" defer></script>
    <script src="{{ 'utils.js' | asset_url }}" defer></script>
    <script src="{{ 'product-variations.js' | asset_url }}" defer></script>
    <script src="{{ 'header.js' | asset_url }}" defer></script>
    <script src="{{ 'product-image-gallery.js' | asset_url }}" defer></script>
    <script src="{{ 'cart-drawer.js' | asset_url }}" defer></script>
    <script src="{{ 'wishlist-drawer.js' | asset_url }}" defer></script>
    <script src="{{ 'search-drawer.js' | asset_url }}" defer></script>
    <script src="{{ 'add-to-cart-modal.js' | asset_url }}" defer></script>
    <script src="{{ "product-list.js" | asset_url }}" defer></script>
    <script src="{{ 'promotional-banner.js' | asset_url }}" defer></script>
    <script src="{{ 'single-product-show-case.js' | asset_url }}" defer></script>
    <script src="{{ 'three-content-block.js' | asset_url }}" defer></script>
    <script src="{{ 'customer-testimonials.js' | asset_url }}" defer></script>
    <script src="{{ 'faq.js' | asset_url }}" defer></script>
    <script src="{{ 'slider-banner.js' | asset_url }}" defer></script>
    <script src="{{ 'two-column-image.js' | asset_url }}" defer></script>
    <script src="{{ 'banner.js' | asset_url }}" defer></script>
    <script src="{{ 'category-list.js' | asset_url }}" defer></script>
    <script src="{{ 'footer.js' | asset_url }}" defer></script>
    <script src="{{ 'product-details.js' | asset_url }}" defer></script>
  </body>
</html>
