<html>
  <head>
    {{ content_for_header }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    {{ 'main.css' | asset_url | stylesheet_tag }}

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v6.4.0/css/all.css"
      crossorigin="anonymous"
    >
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    >

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body id="body">
    <script src="{{ 'header.js' | asset_url }}" async></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js" defer></script>

    <div class="main-overlay disable-overlay"></div>
    {% section 'promotional-banner' %}
    <div class="" id="extra-header-height"></div>
    {% section 'header' %}
    {% section 'cart-drawer' %}
    {% render 'wishlist-drawer' %}
    {% render 'search-drawer' %}
    {% render 'mobile-menu-drawer' %}

    <main id="main" role="main" class="{% unless template == 'index' %}template-page{% endunless %}">
      {% section 'slider-banner' %}
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}

    <script src="{{ 'utils.js' | asset_url }}" defer></script>
    <script src="{{ 'product-image-gallery.js' | asset_url }}" defer></script>
    <script src="{{ 'cart-drawer.js' | asset_url }}" defer></script>
    <script src="{{ 'wishlist-drawer.js' | asset_url }}" defer></script>
    <script src="{{ 'search-drawer.js' | asset_url }}" defer></script>
    <script src="{{ 'add-to-cart-modal.js' | asset_url }}" defer></script>
    <script src="{{ "product-list.js" | asset_url }}" defer></script>
    <script src="{{ 'promotional-banner.js' | asset_url }}" defer></script>
    <script src="{{ 'single-product-show-case.js' | asset_url }}" defer></script>
    <script src="{{ 'three-content-block.js' | asset_url }}" defer></script>
    <script src="{{ 'customer-testimonials.js' | asset_url }}" defer></script>
    <script src="{{ 'faq.js' | asset_url }}" defer></script>
    <script src="{{ 'slider-banner.js' | asset_url }}" defer></script>
    <script src="{{ 'two-column-image.js' | asset_url }}" defer></script>
    <script src="{{ 'banner.js' | asset_url }}" defer></script>
    <script src="{{ 'category-list.js' | asset_url }}" defer></script>
    <script src="{{ 'footer.js' | asset_url }}" defer></script>
  </body>
</html>
