<!-- snippets/cart-drawer.liquid -->

<div id="cart-drawer" class="cart-drawer ">
  <div class="cart-header">
    <h2>Cart</h2>
    <button id="close-cart" aria-label="Close cart" class="cart-close">
      <img
        src="{{ "cancel.png" | asset_url }}"
        width="16"
        height="16"
        alt="delete icon"
        class="remove-cart-icon"
        title="Remove Item"
      >
    </button>
  </div>
  <div class="loader hidden" id="cart-loader"></div>
  <div class="cart-content-wrapper" id="cart-content-wrapper">
    {% if cart.item_count > 0 %}
      <div class="cart-items-wrapper">
        {% for item in cart.items %}
          {% assign show_variants = false %}

          {% for option in item.options_with_values %}
            {% unless option.value == 'Default Title' or option.value == 'Default' or option.name == 'Title' %}
              {% assign show_variants = true %}
            {% endunless %}
          {% endfor %}

          <div class="cart-item-details" data-key="{{ item.key }}" data-line="{{ forloop.index }}">
            <div class="item-loader hidden" id="item-individual-loader">
              <div class="loader"></div>
            </div>
            <div class="cart-item-image-wrapper">
              <a href="{{ item.url }}">
                <img
                  src="{{ item.product.images[0] | image_url }}"
                  width="150"
                  height="150"
                  alt="{{ item.product.title }}"
                >
              </a>

              {% if item.product.tags.size > 0 %}
                <div class="cart-item-product-tag-wrapper">
                  {% for tag in item.product.tags %}
                    <span class="tag-name">{{ tag }}</span>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="cart-product-information">
              {% if item.product.type != '' %}
                <div class="cart-product-type">{{ item.product.type }}</div>
              {% endif %}
              <div class="cart-item-title">
                <a href="{{ item.url }}">{{ item.product.title }}</a>
              </div>
              {% if show_variants %}
                <div class="cart-item-variation-list">
                  {% for option in item.options_with_values %}
                    <span class="cart-variation-item"> {{ option.value }}</span>
                  {% endfor %}
                </div>
              {% endif %}

              <div class="cart-item-qty-group">
                {% render 'product-quantity', product: item, appliedQty: item.quantity, index: forloop.index %}
                <div class="cart-item-price">{{ item.line_price | money }}</div>
              </div>
            </div>

            <button
              id="remove-cart-item"
              aria-label="remove-cart-item"
              class="remove-cart-item"
              data-line="{{ forloop.index }}"
              data-key="{{ item.key }}"
            >
              <img
                src="{{ "cancel.png" | asset_url }}"
                width="14"
                height="14"
                alt="delete icon"
                class="remove-cart-icon"
                title="Remove Item"
              >
            </button>
          </div>
        {% endfor %}
      </div>
      <div class="cart-footer">
        <div class="cart-total-price">
          <span class="cart-total-text">SubTotal:</span>
          <span class="cart-total-amount"> {{ cart.total_price | money }}</span>
        </div>
        <div class="terms-condition-wrapper">
          <div class="text-condition-text">Taxes, shipping and discounts codes calculated at checkout</div>

          <div class="checkbox-wrapper">
            <input type="checkbox" name="aggrement" id="agreement-checkbox" checked>
            <label for="agreement-checkbox">I agree with the terms and conditions.</label>
          </div>
        </div>

        <a href="/checkout" class="checkout-button btn btn-contained btn-red" id="proceed-to-checkout"
          >Proceed To Checkout</a
        >
      </div>

    {% else %}
      <div class="cart-empty-wrapper">
        <p>Your cart is empty. Keep shopping</p>
      </div>
    {% endif %}
  </div>
</div>
