<section class="featured-product-wrapper">
  <div class="container">
    <div class="row">
      {% if section.settings.collection and section.settings.collection.products.size > 0 %}
        {% for product in section.settings.collection.products limit: section.settings.limit %}
          <div class="col-3 ">
            <div class="featured-product-image-wrapper">
              <img
                src="{{ product.featured_image | img_url: '280x280' }}"
                width="280"
                height="280"
                alt="{{ product.title }}"
              >

              <div
                class="open-modal-btn"
                data-product-id="{{ product.id }}"
              >
                <i class="fa-solid fa-plus"></i>
              </div>

              {% render 'add-to-cart-modal', product: product %}
            </div>

            <div class="featured-product-information">
              <a href="{{product.url  }}">
                <p class="product-title">{{ product.title }}</p>
              </a>
              <p class="product-price">{{ product.price | money }}</p>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>No Product found</p>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Featured Products",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Select a collection"
    },
    {
      "type": "range",
      "id": "limit",
      "label": "Number of products to show",
      "min": 1,
      "max": 8,
      "step": 1,
      "default": 4
    }
  ],
  "presets": [
    {
      "name": "Featured products"
    }
  ]
}
{% endschema %}
