<div class="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="footer-text-wrapper">
          <div class="footer-title-text">SHERPA FOOD</div>
          <div class="footer-tag-line">Frozen With Care</div>
          <div class="footer-tag-line-description">
            At Sherpa Food, we believe great meals start with great ingredients — handled with care, flash-frozen at
            peak freshness, and delivered straight to your table. Our process preserves taste, texture, and nutrition,
            so you enjoy real, honest food anytime.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="newsletter-wrapper">
          <div class="newsletter-form-wrapper">
            <input type="email" class="contact-email" name="contact" placeholder="Your@example.com">
            <div class="link-button grn-btn">Subscribe</div>
          </div>
          <div class="newletter-helper-text">At Sherpa food we value your privacy, you can always unsubscribe.</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="footer-link-wrapper">
          <div class="footer-social-media-wrapper">
            <div class="footer-logo-wrapper">
              <img src="{{ 'logo.png' | asset_url}}" width="200" height="146" alt="footer-logo">
            </div>
            <div class="social-icons-wrapper">
              <a href="{{ section.settings.facebook_url }}" title="Facebook" target="_blank">
                <img
                  src="{{ 'facebook.png' | asset_url }}"
                  alt="Facebook"
                  class="social-icon-img"
                  width="24"
                  height="24"
                >
              </a>
              <a href="{{ section.settings.gmail }}" title="Gmail" target="_blank">
                <img
                  src="{{ 'email.png' | asset_url }}"
                  alt="Gmail"
                  class="social-icon-img"
                  width="27"
                  height="27"
                >
              </a>
              <a href="{{ section.settings.instagram_url }}" title="Instagram" target="_blank">
                <img
                  src="{{ 'instagram.png' | asset_url }}"
                  alt="Instagram"
                  class="social-icon-img"
                  width="24"
                  height="24"
                >
              </a>
            </div>
          </div>

          <div class="footer-navigation-link-wrapper">
            <div class="footer-title-wrapper">Useful Links</div>
            <div class="footer-link-content">
              <div class="footer-link"><a href="#"> Momo Sauce </a></div>
              <div class="footer-link"><a href="#">Frozen Food</a></div>
              <div class="footer-link"><a href="#">Bundles</a></div>
              <div class="footer-link"><a href="#">Gift Cards</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="footer-text">Sherpa Food © 2025</div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "text",
      "id": "demo_text",
      "label": "Demo text (about shop)",
      "default": "This is a demo shop for the Parallax Shopify theme. Products in this shop are courtesy of <a href='https://garypoppins.com/' title='https://garypoppins.com/'><strong>Gary Poppins</strong></a>, <a href='https://onehoney.ca/' title='https://onehoney.ca/'><strong>Oneroot Honey</strong></a> or created by our Design team for demonstration purposes."
    },
    {
      "type": "text",
      "id": "newsletter_text",
      "label": "Newsletter text",
      "default": "Sign up for our mailing list to receive recipes and special savings"
    },
    {
      "type": "text",
      "id": "copyright_text",
      "label": "Copyright text",
      "default": "Your shop name. Powered by Shopify.",
      "placeholder": "Enter your custom footer text here"
    },
    {
      "type": "select",
      "id": "copyright_year_position",
      "label": "Year Position",
      "options": [
        { "value": "before", "label": "Show year before text" },
        { "value": "after", "label": "Show year after text" }
      ],
      "default": "before"
    },
    {
      "type": "header",
      "content": "Social Media Links"
    },
    {
      "type": "url",
      "id": "facebook_url",
      "label": "Facebook URL"
    },
    {
      "type": "url",
      "id": "instagram_url",
      "label": "Instagram URL"
    },
    {
      "type": "header",
      "content": "Footer Menu"
    },
    {
      "type": "link_list",
      "id": "footer_menu",
      "label": "Footer menu"
    },
    {
      "type": "checkbox",
      "id": "show_visa",
      "label": "Show Visa",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_paypal",
      "label": "Show PayPal",
      "default": false
    }
  ]
}
{% endschema %}
