<section class="header-wrapper" id="header">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="menu-wrapper">
          <div class="mobile-menu-wrapper" id="hamburger">
            <div class="ham-burger-menu">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="menu-left-wrapper">
            {% if section.settings.logo != '' %}
              <a href="{{ routes.root_url }}">
                <img
                  src="{{ section.settings.logo | image_url }}"
                  alt="Logo"
                  loading="lazy"
                  width="80"
                  height="50"
                >
              </a>
            {% else %}
              <img
                src="{{ 'fallback-logo.png' | asset_url }}"
                alt="Logo"
                loading="lazy"
                width="80"
                height="40"
              >
            {% endif %}
          </div>
          <div class="menu-right-wrapper">
            <ul class="navigation-wrappper hide-mobile">
              {% for link in section.settings.main_menu.links %}
                {% capture submenu %}
                  {% if link.links.size > 0 %}sub-navigation-wrapper{% endif %}
                {% endcapture %}
                {% assign is_child_active = false %}
                {% for child_link in link.links %}
                  {% if child_link.active %}
                    {% assign is_child_active = true %}
                  {% endif %}
                {% endfor %}

                <li class="navigation-list {% if link.active or is_child_active %}active{% endif %} {{ submenu }}">
                  <a href="{{ link.url }}">{{ link.title }}</a>

                  {% if link.links.size > 0 %}
                    {% render 'down-arrow' %}
                    <ul class="sub-menu-wrapper" id="sub-menu-wrapper">
                      {% for child_link in link.links %}
                        <li class="sub-menu-list {% if child_link.active %}active{% endif %}">
                          <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
            <div class="menu-icon-wrapper">
              <!-- Account -->
              <a href="{{ routes.account_login_url }}" class="hide-mobile">
                <img
                  src="{{ 'user.png' | asset_url }}"
                  height="22"
                  width="22"
                  id="user-icon"
                  aria-label="Account login"
                >
              </a>
              <!-- Search -->
              <img
                src="{{ 'search-icon.png' | asset_url }}"
                data-close-icon="{{ 'close.png' | asset_url }}"
                data-search-icon="{{ 'search-icon.png' | asset_url }}"
                alt="Search Icon"
                id="search-drawer-icon"
                height="24"
                width="24"
              >
              <!-- wishlist -->
              {% comment %}
                <img
                  src="{{ 'wishlist.png' | asset_url }}"
                  alt="Wishlist Icon"
                  id="wishlist-icon"
                  height="24"
                  width="24"
                >
              {% endcomment %}
              <!-- Cart -->
              <div class="add-to-cart-icon-group">
                <img
                  src="{{ 'shopping-bag.png' | asset_url }}"
                  height="22"
                  width="22"
                  id="cart-icon"
                  aria-label="Open Cart"
                  class="add-to-cart-icon"
                >
                <span class="cart-count-number {% if cart.item_count == 0 %}hidden{% endif %}" id="cart-item-count">
                  {{ cart.item_count }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "link_list",
      "id": "main_menu",
      "label": "Main Navigation"
    },
    {
      "type": "link_list",
      "id": "sub_menu",
      "label": "Sub Navigation"
    }
  ]
}
{% endschema %}
