{% capture productstatus %}
  {% if product.variants.first.available == false %}disabled{% endif %}
{% endcapture %}

<div class="product-details-section" id="product-details">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="product-bread-crumb-wrapper">
          {% render 'bread-crumbs', title: product.title %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="product-details-wrapper">
          <div class="product-image-wrapper swiper" id="product-image-wrapper">
            {% render 'product-tag', product: product %}
            <div class="swiper-wrapper product-detail-image-content" id="lightgallery">
              {% for media in product.media %}
                {% if media.media_type == 'image' %}
                  <a class="swiper-slide product-active-image" href="{{ media | image_url }}">
                    <img
                      src="{{ media |  image_url }}"
                      alt="{{ media.alt | escape }}"
                      width="280"
                      height="280"
                    >
                  </a>
                {% endif %}
              {% endfor %}
            </div>

            <!-- Swiper pagination for mobile -->
            <div class="product-gallery-swiper-pagination"></div>
          </div>
          <div class="product-content-wrapper">
            <div class="product-inner-content-wrapper" id="product-inner-content">
              <div class="product-sku">{{ product.type }}</div>
              <h1 class="product-title">{{ product.title }}</h1>
              <div class="product-price-wrapper">
                {% if product.compare_at_price > product.price %}
                  <s class="original-price">{{ product.compare_at_price | money }}</s>
                {% endif %}
                <div class="product-price discounted-price">{{ product.price | money }}</div>
              </div>
              <div class="divier top-divider"></div>

              <div class="product-description-wrapper">
                <span class="product-desc-value">
                  {{
                    product.description
                    | strip_html
                    | truncate: 400, '... <span class="turncate-des-text" id="product-read-more">READ MORE</span>'
                  -}}
                </span>
              </div>

              <div
                class="sealsubs-target-element seal-sub-widget"
                data-product="{{ product | json | escape }}"
                data-handle="{{ product.handle }}"
                data-product-id="{{ product.id }}"
                data-variant-id="{{ product.variants.first.id }}"
              ></div>

              {% render 'product-variations' %}

              <div class="product-stock">
                {% if product.variants.first.available %}
                  <p class="stock-status green">In Stock</p>
                {% else %}
                  <p class="stock-status grey">Out of Stock</p>
                {% endif %}
              </div>

              <div class="product-details-cta-wrapper">
                {% render 'product-quantity', product: product, appliedQty: 1 %}
                <div class="product-details-btn-group">
                  <button
                    class="btn product-add-to-cart-btn btn-contained btn-red {{ productstatus }}"
                    data-variant-id="{{ product.variants.first.id }}"
                    id="add-to-cart-btn"
                  >
                    {% if product.variants.first.available %}
                      <span>
                        Add to Cart
                        <img
                          src="{{ 'button-cart-icon.png' | asset_url }}"
                          class="btn-icon"
                          width="20"
                          height="20"
                          alt="right-arrow"
                        >
                      </span>
                      <div class="btn-loader"></div>
                    {% else %}
                      <span>Out of Stock</span>
                    {% endif %}
                  </button>
                </div>
              </div>

              <div class="shipping-information-wrapper">
                <span class="shipping-info-title">Shipping Information</span>
                <span class="shipping-info-value"
                  >We ship orders Mondays and Tuesdays. This shipping setup ensures your orders remain safe and frozen
                  while traveling with blocks of dry-ice!
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="product-full-description-wrapper" id="product-description">
          <div class="product-full-desc-title">Product Information</div>
          <div class="product-full-desc-value">{{ product.description }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="product-sticky-bottom" id="product-sticky-bottom">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="product-sticky-bottom-wrapper">
            <div class="product-bottom-left">
              <div class="bottom-product-title-group">
                <span class="bottom-product-title"> {{ product.title }} </span>
                <div class="btn-product-variation-group">
                  <span class="bottom-product-variant" id="btm-product-variant"> </span>
                  <span class="bottom-product-subscription-detail" id="btm-product-subscription"></span>
                </div>
              </div>

              <div class="bottom-product-price">
                <div class="product-price-wrapper">
                  {% if product.compare_at_price > product.price %}
                    <s class="original-price">{{ product.compare_at_price | money }}</s>
                  {% endif %}
                  <div class="product-price discounted-price">{{ product.price | money }}</div>
                </div>
              </div>
            </div>
            <div class="bottom-product-details-btn-group">
              <button
                class="btn btn-contained btn-red {{ productstatus }} btn-md"
                id="bottom-product-cart"
                data-variant-id="{{ product.variants.first.id }}"
              >
                {% if product.variants.first.available %}
                  <span>
                    Add to Cart
                    <img
                      src="{{ 'button-cart-icon.png' | asset_url }}"
                      class="btn-icon"
                      width="20"
                      height="20"
                      alt="right-arrow"
                    >
                  </span>
                  <div class="btn-loader"></div>
                {% else %}
                  <span>Out of Stock</span>
                {% endif %}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script id="product-variants-data" type="application/json">
  {{ product.variants | json }}
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const galleryEl = document.getElementById('lightgallery');
    lightGallery(galleryEl, {
      selector: 'a', // IMPORTANT
      plugins: [lgZoom, lgFullscreen],
      speed: 500,
      zoom: true,
      zoomPlugin: {
        zoomFromOrigin: true,
        infiniteZoom: true,
        maxZoom: 10, // 🔁 Increase this value (default is 2)
        scale: 1, // initial scale (default is 1)
        zoomAnimationDuration: 300, // optional: animation speed
      },
    });
  });
</script>

{% schema %}
{
  "name": "Product Details",
  "settings": [],
  "presets": [
    {
      "name": "Product Details"
    }
  ]
}
{% endschema %}
