<section class="slogan-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="slogan-content-wrapper">
          <img
            src="https://placehold.co/400x400"
            alt="you choose"
            width="400"
            height="400"
            class="slogan-image"
          >

          <div class="solgan-content">
            {% if section.settings['slogan-1-title'] != '' %}
              <h3 class="slogan-title">{{ section.settings['slogan-1-title'] }}</h3>
            {% endif %}
            <div class="slogan-divider"></div>

            {% if section.settings['slogan-1-description'] != '' %}
              <p class="slogan-information">
                {{ section.settings['slogan-1-description'] }}
              </p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="slogan-content-wrapper">
          <img
            src="https://placehold.co/400x400"
            alt="you choose"
            width="400"
            height="400"
            class="slogan-image"
          >

          <div class="solgan-content">
            {% if section.settings['slogan-2-title'] != '' %}
              <h3 class="slogan-title">{{ section.settings['slogan-2-title'] }}</h3>
            {% endif %}
            <div class="slogan-divider"></div>

            {% if section.settings['slogan-2-description'] != '' %}
              <p class="slogan-information">
                {{ section.settings['slogan-2-description'] }}
              </p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="slogan-content-wrapper">
          <img
            src="https://placehold.co/400x400"
            alt="you choose"
            width="400"
            height="400"
            class="slogan-image"
          >

          <div class="solgan-content">
            {% if section.settings['slogan-3-title'] != '' %}
              <h3 class="slogan-title">{{ section.settings['slogan-3-title'] }}</h3>
            {% endif %}
            <div class="slogan-divider"></div>

            {% if section.settings['slogan-3-description'] != '' %}
              <p class="slogan-information">
                {{ section.settings['slogan-3-description'] }}
              </p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Our Slogan",
  "settings": [
    {
      "type": "image_picker",
      "id": "slogan-1-image",
      "label": "Slogan 1 Image"
    },
    {
      "type": "text",
      "id": "slogan-1-title",
      "label": "Slogan 1 Title",
      "default": "Lorem Ipsum"
    },
    {
      "type": "textarea",
      "id": "slogan-1-description",
      "label": "Slogan 1 Description",
      "default": "It is a long established fact that a reader will be distracted by the"
    },
    {
      "type": "image_picker",
      "id": "slogan-2-image",
      "label": "Slogan 2 Image"
    },
    {
      "type": "text",
      "id": "slogan-2-title",
      "label": "Slogan 2 Title",
      "default": "Lorem Ipsum"
    },
    {
      "type": "textarea",
      "id": "slogan-2-description",
      "label": "Slogan 2 Description",
      "default": "It is a long established fact that a reader will be distracted by the"
    },
    {
      "type": "image_picker",
      "id": "slogan-3-image",
      "label": "Slogan 3 Image"
    },
    {
      "type": "text",
      "id": "slogan-3-title",
      "label": "Slogan 3 Title",
      "default": "Lorem Ipsum"
    },
    {
      "type": "textarea",
      "id": "slogan-3-description",
      "label": "Slogan 3 Description",
      "default": "It is a long established fact that a reader will be distracted by the"
    }
  ]
}
{% endschema %}
