{% capture columnwidth %}
  {% if section.settings.full_width %}fluid{% endif %}
{% endcapture %}

{% capture rowwidth %}
  {% if section.settings.full_width %}no-gutters{% endif %}
{% endcapture %}

{% capture gap %}
  {% if section.settings.gap_between %}gap{% endif %}
{% endcapture %}

{% capture sectiongap %}
  {% if section.settings.section_gap %}section-wrapper{% endif %}
{% endcapture %}

<div
  class="two-column-image-section {{ sectiongap }}"
  id="two-column-image-{{ section.id }}"
  data-animation="{{section.settings.parallax-animation}}"
>
  <div class="container {{ columnwidth }}">
    <div class="row {{ rowwidth }}">
      <div class="col">
        <div class="two-column-image-wrapper {{ gap }}">
          <div class="image-wrapper image-1">
            <div class="overlay"></div>
            <img
              src="{{ section.settings['image-one'] | image_url }}"
              width="280"
              height="280"
              class="two-column-image"
              id="parallax-image-animation"
            >
            <div
              class="text-content-wrapper content-position-{{ section.settings.content_position }}"
              id="parallax-content-animation"
            >
              {% if section.settings['title-one'] != '' %}
                <div class="content-title">{{ section.settings['title-one'] }}</div>
              {% endif %}

              {% if section.settings.helper_text_one != '' %}
                <div class="content-helper-text">{{ section.settings.helper_text_one }}</div>
              {% endif %}
              {% if section.settings['button-one'] != '' %}
                <a class="btn btn-outline btn-md" href="{{  section.settings['button-link-one']}}">
                  <span>
                    {{ section.settings['button-one'] }}
                  </span>
                </a>
              {% endif %}
            </div>
          </div>
          <div class="image-wrapper image-1">
            <div class="overlay"></div>
            <img
              src="{{ section.settings['image-two'] | image_url }}"
              width="280"
              height="280"
              class="two-column-image"
              id="parallax-image-animation"
            >
            <div
              class="text-content-wrapper content-position-{{ section.settings.content_position }}"
              id="parallax-content-animation"
            >
              {% if section.settings['title-two'] != '' %}
                <div class="content-title">{{ section.settings['title-two'] }}</div>
              {% endif %}
              {% if section.settings.helper_text_two != '' %}
                <div class="content-helper-text">{{ section.settings.helper_text_two }}</div>
              {% endif %}
              {% if section.settings['button-two'] != '' %}
                <a class="btn btn-outline btn-md" href="{{  section.settings['button-link-two']}}">
                  <span>
                    {{ section.settings['button-two'] }}
                  </span>
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .image-1 {
    background-image: url({{section.settings['image-one']}});
  }

  .image-2 {
    background-image: url({{section.settings['image-two']}});
  }
</style>

{% schema %}
{
  "name": "Two Column Image",
  "settings": [
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "gap_between",
      "label": "Gap Between Section",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "section_gap",
      "label": "Gap Between Section",
      "default": false
    },
    {
      "type": "select",
      "label": "Content Position",
      "id": "content_position",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Middle",
          "value": "middle"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Animation"
    },
    {
      "type": "checkbox",
      "id": "parallax-animation",
      "label": "Enable Parallax Animation",
      "default": true
    },
    {
      "type": "header",
      "content": "Column one Details"
    },
    {
      "type": "image_picker",
      "id": "image-one",
      "label": "Image"
    },
    {
      "type": "textarea",
      "id": "title-one",
      "label": "Column title",
      "default": "Test"
    },
    {
      "type": "textarea",
      "id": "helper_text_one",
      "label": "SubTitle",
      "default": "Test"
    },
    {
      "type": "text",
      "id": "button-one",
      "label": "Button label",
      "default": "Test"
    },
    {
      "type": "url",
      "id": "button-link-one",
      "label": "Button Link"
    },
    {
      "type": "header",
      "content": "Column two Details"
    },
    {
      "type": "image_picker",
      "id": "image-two",
      "label": "Image"
    },
    {
      "type": "textarea",
      "id": "title-two",
      "label": "Column title",
      "default": "Test"
    },
    {
      "type": "textarea",
      "id": "helper_text_two",
      "label": "SubTitle",
      "default": "Test"
    },
    {
      "type": "text",
      "id": "button-two",
      "label": "Button label",
      "default": "Test"
    },
    {
      "type": "url",
      "id": "button-link-two",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Two Column Image"
    }
  ]
}
{% endschema %}
