<div
  class="two-column-image-section section-wrapper"
  id="two-column-image-{{ section.id }}"
  data-animation="{{section.settings.parallax-animation}}"
>
  <div class="container fluid">
    <div class="row">
      <div class="col">
        <div class="two-column-image-wrapper">
          <div class="image-wrapper image-1">
            <img
              src="http://127.0.0.1:9292/cdn/shop/files/banner.webp?v=1751338529&width=1600"
              width="280"
              height="280"
              class="two-column-image"
              id="parallax-image-animation"
            >
            <div class="text-content-wrapper" id="parallax-content-animation">
              {% if section.settings['title-one'] != '' %}
                <div class="image-content-title">{{ section.settings['title-one'] }}</div>
              {% endif %}
              {% if section.settings['button-one'] != '' %}
                <a class="outline-btn" href="{{  section.settings['button-link-one']}}">
                  {{ section.settings['button-one'] }}
                </a>
              {% endif %}
            </div>
          </div>
          <div class="image-wrapper image-1">
            <img
              src="http://127.0.0.1:9292/cdn/shop/files/banner.webp?v=1751338529&width=1600"
              width="280"
              height="280"
              class="two-column-image"
              id="parallax-image-animation"
            >
            <div class="text-content-wrapper" id="parallax-content-animation">
              {% if section.settings['title-one'] != '' %}
                <div class="image-content-title">{{ section.settings['title-one'] }}</div>
              {% endif %}
              {% if section.settings['button-one'] != '' %}
                <a class="outline-btn" href="{{  section.settings['button-link-one']}}">
                  {{ section.settings['button-one'] }}
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .image-1 {
    background-image: url({{section.settings['image-one']}});
  }

  .image-2 {
    background-image: url({{section.settings['image-two']}});
  }
</style>

{% schema %}
{
  "name": "Two Column Image",
  "settings": [
    {
      "type": "header",
      "content": "Animation"
    },
    {
      "type": "checkbox",
      "id": "parallax-animation",
      "label": "Enable Parallax Animation",
      "default": true
    },
    {
      "type": "header",
      "content": "Column one Details"
    },
    {
      "type": "image_picker",
      "id": "image-one",
      "label": "Image"
    },
    {
      "type": "textarea",
      "id": "title-one",
      "label": "Column title",
      "default": "Test"
    },
    {
      "type": "text",
      "id": "button-one",
      "label": "Button label",
      "default": "Test"
    },
    {
      "type": "text",
      "id": "button-link-one",
      "label": "Button Link label",
      "default": "#"
    },
    {
      "type": "header",
      "content": "Column two Details"
    },
    {
      "type": "image_picker",
      "id": "image-two",
      "label": "Image"
    },
    {
      "type": "textarea",
      "id": "title-two",
      "label": "Column title",
      "default": "Test"
    },
    {
      "type": "text",
      "id": "button-two",
      "label": "Button label",
      "default": "Test"
    },
    {
      "type": "text",
      "id": "button-link-two",
      "label": "Button Link label",
      "default": "#"
    }
  ],
  "presets": [
    {
      "name": "Two Column Image"
    }
  ]
}
{% endschema %}
