<!-- snippets/cart-drawer.liquid -->
<div id="wishlist-drawer" class="wishlist-drawer-wrapper">
  <div class="wishlist-header">
    <h2>Your Wishlist</h2>
    <button id="close-wishlist" aria-label="Close wishlist" class="wishlist-close">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <div class="loader hidden" id="wishlist-loader"></div>
  <div class="wishlist-content-wrapper" id="wishlist-content-wrapper">
    {% comment %} {% if cart.item_count > 0 %} {% endcomment %}
    {% comment %} <div class="wishlist-items-wrapper"> {% endcomment %}
    {% comment %}
      {% for item in cart.items %}
            <div class="wishlist-item-details" data-key="{{ item.key }}" data-line="{{ forloop.index }}">
              <div class="wishlist-loader hidden" id="wishlist-item-individual-loader">
                <div class="loader"></div>
              </div>
              <img
                src="{{ item.product.images[0] |  img_url: '150x'}}"
                width="150"
                height="150"
                alt="{{ item.product.title }}"
              >
              <div class="wishlist-product-information">
                <div class="wishlist-item-title">{{ item.product.title }}</div>
                <div class="wishlist-item-price">{{ item.line_price | money }}</div>
              </div>

              <button
                id="remove-wishlist-item"
                aria-label="remove-wishlist-item"
                class="remove-wishlist-item"
                data-line="{{ forloop.index }}"
              >
                <i class="fa-solid fa-xmark remove-cart-icon"></i>
              </button>
            </div>
          {% endfor %}
        </div>

      {% else %}
    {% endcomment %}
    <div class="cart-empty-wrapper">
      <p>Your wishlist is empty. Keep adding products!</p>
    </div>
    {% comment %} {% endif %} {% endcomment %}
  </div>
</div>

{% schema %}
{
  "name": "Wishlist Drawer",
  "hidden": true
}
{% endschema %}
